* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

body.light {
  background: #ffffff;
  color: #1a1a1a;
}

body.dark {
  background: #121212;
  color: white;
}

body.light header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

body.dark header {
  background: #1e1e1e;
  border-bottom: 1px solid #333;
}

body.light .ingredients-list li {
  color: #121212;
}

body.dark .ingredients-list li {
  color: white;
}

body.light .add-ingredient-form > button {
  background: black;
  color: white;
}

body.dark .add-ingredient-form > button {
  color: black;
  background: white;
}

body.dark h3 {
  color: black;
}

body.dark .suggested-recipe-container h1,
body.dark .suggested-recipe-container h2,
body.dark .suggested-recipe-container h4,
body.dark .suggested-recipe-container h5,
body.dark .suggested-recipe-container h3 {
  color: white;
}

body.dark .suggested-recipe-container p {
  color: #d1d1d1;
}

body.dark .suggested-recipe-container li {
  color: #e5e5e5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  background-color: white;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.logo {
  width: 50px;
}

header > h1 {
  font-weight: 400;
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.save-recipe-button {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

header > button {
  position: absolute;
  font-family: Inter, sans-serif;
  right: 30px;
  top: 20px;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
}
